@model IEnumerable<demo_crud.Models.Product>

@{
    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Link("new_product_view", new {})">New Product</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <a href="@Url.Link("product_edit_form", new { id = item.Id })">Edit</a> |
            <a href="@Url.Link("product_view", new { id = item.Id })">Details</a> |
            <a href="@Url.Link("product_edit_form", new { id = item.Id })" class="lnk-delete" data-id="@item.Id">Delete</a>
        </td>
    </tr>
}

</table>

<script>
    $(document).on("click", "a.lnk-delete", function(e) {
        e.preventDefault();
        var confirmed = confirm("Are you sure?");
        
        if (confirmed) {
            var id = $(this).data('id');
            $.ajax({ // AJAX stands for Asynchronous JavaScript and XML
                method: "DELETE",
                url: `products/${id}/delete`,
                success: function() {
                    alert('DONE!');
                    window.location.reload();
                },
                error: function(err) {
                    alert('OOPS!');
                    console.log(err);
                }
            });
        }
    });
</script>